<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>351061329352-6nsnb3ggpbb5o3aeicag8ojg9f0fhees.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.351061329352-6nsnb3ggpbb5o3aeicag8ojg9f0fhees</string>
	<key>API_KEY</key>
	<string>AIzaSyA4oFBwcI6Fgdjk83NcJZJEd_7rR8XfAQc</string>
	<key>GCM_SENDER_ID</key>
	<string>351061329352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.imageApp</string>
	<key>PROJECT_ID</key>
	<string>todaapp-fad4a</string>
	<key>STORAGE_BUCKET</key>
	<string>todaapp-fad4a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:351061329352:ios:65061e0697203af4f3acfd</string>
</dict>
</plist>